

/* EQL Template_last updated 2016-06-22 */

html, body {
	font-family: sans-serif;
}


.nav_spec {
	min-height:70px;
	margin-bottom:0px;
	border:0 none;
	background:#333;
	display:block;
	width:100%;
}
.navbar-inverse .navbar-toggle {
	border:0 none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background:none;
	font-weight:bold;
}

.fixed-strip.affix {
	top: 0;
}
.fixed-strip {
	position: fixed;
	top: -100px;
	right: 0;
	left: 0;
	z-index: 9999;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.fix_drop {
	padding:18px;
}

.fix_link {
	padding:0px 10px;
}
.navbar {
	border-radius:0px;
}
.navbar-brand {
	height:70px;
}
.navbar-nav > li > a {
	line-height:40px;
}

.btn_order {
	margin-left:12px;
	margin-top:18px;
}

@media (max-width:768px){
	.navbar-nav > li > a {
		line-height:20px;
	}
}

@media (max-width:552px){
	.navbar-brand {
		  width:70%;
		  margin-top:4px;
	  }
}

/* Banner carousel-----------------------------------------------------------*/

    .carousel-fade .carousel-inner .item{
        opacity:0;
        -webkit-transition-property:opacity ;
        -moz-transition-property:opacity ;
        -ms-transition-property:opacity ;
        -o-transition-property:opacity ;
        transition-property:opacity ;
    }
    .carousel-fade .carousel-inner .active{
        opacity: 1;
    }
    .carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{
        left: 0;
        opacity: 0;
    }
    .carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }

	.carousel-inner img {
		min-width:100%;
		max-height:100%;
	}

	@media (max-width:768px){
		.carousel-inner {
			min-height:440px;
			display:block;
		}
		.carousel-inner img {
			min-height:440px;
			min-width:900px;
			overflow:hidden;
			margin-left:-10%;
		}
	}

	@media (max-width:552px){
		.carousel-inner img {
			margin-left:-50%;
		}
	}


.carousel-control.left {
	background:url(../images/arrow_left.png) center no-repeat !important;
}

.carousel-control.right {
	background:url(../images/arrow_right.png) center no-repeat !important;
}


/* Button Style-----------------------------------------------------------*/

	.button
	{
		display: inline-block;
		margin-top: 14px;
		padding: 8px 20px;
		background: #f1513b;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 16px;
		color: #fff;
		border-radius: 3px;
		-webkit-transition: background .3s ease-in-out;
		-moz-transition: background .3s ease-in-out;
		transition: background .3s ease-in-out;
	}

	.button:before
	{
	}

	.button:hover
	{
		background: #c4382a;
		color:#fff;
	}

	a:hover{ text-decoration:none; }







	/* Footer-----------------------------------------------------------*/


	  .content_nopad
	  {
		  width: 100%;
		  z-index: 100;
		  position: relative;
		  padding-bottom:50px;
	  }

	  .bg_deepocean
	  {
		  background-color: #333 !important;
	  }


	  .footer_1-1
	  {
		  padding-top: 60px;
		  padding-bottom: 20px;
	  }

	  .footer_1-1 h2, .footer_1-1 h4, .footer_1-1 .lead, .footer_1-1 li
	  {
		  color: #fff;
	  }

	  .footer_1-1 .brand-img
	  {
		  width: 200px;
		  margin-bottom: 30px;
	  }

	  .footer_1-1 h4
	  {
		  margin-bottom: 20px;
	  }

	  .footer_1-1 ul
	  {
		  list-style-type: none;
		  margin: 0 0 26px;
		  padding: 0;
	  }

	  .footer_1-1 ul li
	  {
		  border-top: 1px solid #555;
		  line-height: 19px;
		  padding: 6px 0;
	  }

	  .footer_1-1 ul li a {
		  color:#999;
	  }

	  .footer_1-1 ul li a:hover {
		  color:#00C0F3;
	  }

	  .footer_1-1 li:first-child
	  {
		  border-top: none;
		  padding-top: 1px;
	  }



	  .footer_descript {
		  font-size:16px;
		  color:#999;
		  }

	  .footer_descript a {
		  color:#00c0f3;
	  }


	  .snBtn {
		  width:200px;
		  margin-left:-50px;
	  }

	  .snBtn li {
		  list-style:none;
		  float:left;
		  margin:0px 10px 0px 0px;
		  border-top:0 none !important;
		  padding:10px 0px !important;
	  }

	  .snBtn a > img {
		  opacity:1.0;
		  transition-timing-function:linear;
		  transition:opacity linear 0.3s;
	  }

	  .snBtn a > img:hover{
		  opacity:0.4;
		  background-color: maroon #600;
		  -webkit-transition:opacity 0.3s;
		  -moz-transition:opacity 0.3s;
		  -o-transition:opacity 0.3s;
	  }




	/* Go Top button-----------------------------------------------------------*/


	  #gotop {
		  display: none;
		  position: fixed;
		  right: 40px;
		  bottom: 40px;
		  padding: 10px 15px;
		  font-size: 20px;
		  z-index:999;
		  background: rgba(93,93,93,0.47);
		  /*if IE*/
		  background: #ccc \9;
		  *background: #ccc;
		  _background: #ccc;

		  border:#ccc 1px solid;
		  color: white;
		  cursor: pointer;
		  width:60px;
		  height:60px;
		  text-align:center;
		  line-height:100%;
		  font-size:16px;
		  border-radius:10px;
		  /*box-shadow:0px 0px 10px #ccc;*/

			  -webkit-transition: background .3s ease-in-out;
			  -moz-transition: background .3s ease-in-out;
			  transition: background .3s ease-in-out;
	  }

	  #gotop:hover {
		  background: rgba(39,39,39,0.80);
		  /*if IE*/
		  background: #333 \9;
		  *background: #333;
		  _background: #333;
	  }

	  @media (max-width:403px){
		  #gotop {
		  right: 20px;
		  bottom: 20px;
		  }
	  }

		.orangee {
			color: #E55949;
		}
    .apple {
			font-size: 18px;
		}
		.stonee {
			color: #4a4a4a;
			font-size: 18px;
		}
		.content-1-3 h4 {
			font-size: 20px;
		}
		.mask h4 {
			font-size: 30px;
		}
		.polution-pic {
			min-height: 300px;
		}
		.polution-text {
			min-height: 300px;
		}
		.texthere {
			vertical-align: middle;
			text-align: center;
		}
		.airpolution {
			padding-top: 80px;
			font-size: 25px;
			font-weight: bold;
			color: #fff;
			text-align: center;
		}
		.solution {
			font-size: 16px;
			color:#fff;
			text-align: center;
		}
		.aurologotype {
			padding-bottom: 20px;
		}
		.ledintro {
			padding-top: 40px;
		}
		.ledintro p {
			color:#c4382a;
		}
		.text-center p {
			padding-top: 10px;
		}
    .polution-text {
			text-align:center;
		}
		.inthemiddlebtn {
			float: right;
		}
		.content-3-6 hr {
			width: 10%;
			border-width: 2px;
			border-color: #c4382a;
		}
		.content-2-2 .underlined-title p {
			color: #c4382a;
			font-size: 18px;
		}
    .content-2-2 .underlined-title {
			padding-bottom: 50px;
		}
		#contact
			{
				background: #EDEDED;
			}

			#newsletter
			{
				overflow: hidden;
				padding: 8em 0em;
				background: #EDEDED;
				text-align: center;
			}

			#newsletter .title h2
			{
				color: #506266;
				font-weight:normal;
			}

			#newsletter .content
			{
				width: 600px;
				margin: 0px auto;
			}

			.title
			{
				margin-bottom: 3em;
				text-align:center;
			}

			.title h2
			{
				font-size: 36px;
				color: #506266;
				margin-bottom:10px;
			}

			.title .byline
			{
				letter-spacing: 0.15em;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 1.1em;
				color: #6F6F6F;
			}

			.post
			{
				margin-bottom: 3em;
				padding-bottom: 4em;
				border-bottom: 1px solid;
				border-color:  rgba(0,0,0,.1);
			}

			@media (max-width:992px){
			   .padding8p { padding:0px 8%; }
			}



		/* Form Style-----------------------------------------------------------*/

				form
				{
				}

					form label
					{
						display: block;
						text-align: left;
						margin-bottom: 0.5em;
					}

					form .submit
					{
						margin-top: 2em;
						background: #e97874;
						line-height: 1.5em;
						font-size: 1.3em;
					}

					form input.text,
					form select,
					form textarea
					{
						position: relative;
						-webkit-appearance: none;
						display: block;
						border: 0;
						background: #fff;
						background: rgba(255,255,255,0.75);
						width: 100%;
						border-radius: 0.50em;
						margin: 1em 0em;
						padding: 1.50em 1em;
						box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
						border: solid 1px rgba(0,0,0,0.15);
						-moz-transition: all 0.35s ease-in-out;
						-webkit-transition: all 0.35s ease-in-out;
						-o-transition: all 0.35s ease-in-out;
						-ms-transition: all 0.35s ease-in-out;
						transition: all 0.35s ease-in-out;
						font-family: 'Source Sans Pro', sans-serif;
						font-size: 1em;
						outline: none;
					}

						form input.text:hover,
						form select:hover,
						form textarea:hover
						{
						}

						form input.text:focus,
						form select:focus,
						form textarea:focus
						{
							box-shadow: 0 0 2px 1px #E0E0E0;
							background: #fff;
						}

						form textarea
						{
							min-height: 12em;
						}

						form .formerize-placeholder
						{
							color: #555 !important;
						}

						form ::-webkit-input-placeholder
						{
							color: #555 !important;
						}

						form :-moz-placeholder
						{
							color: #555 !important;
						}

						form ::-moz-placeholder
						{
							color: #555 !important;
						}

						form :-ms-input-placeholder
						{
							color: #555 !important;
						}

						form ::-moz-focus-inner
						{
							border: 0;
						}

/* FAQ-----------------------------------------------------------*/

.col-md-4 price-block .book img {
	max-height: 50px;
}
.underlined-title .appicon {
	padding-bottom: 20px;
}
.underlined-title p {
	font-size: 20px;
	color: #f1513b;
	font-weight: 500;
}

.SPEC_BG{
width: auto;
height: auto;
display: block;
background-color: grey;
background-image: url(../images/spec_bg.jpg);
background-position: right bottom;;
background-size: cover;
padding-top: 100px;
padding-bottom: 100px;
}


.SPEC_BG h1{
  text-align: center;
  margin-bottom: 30px;
}

.SPEC_BG table{
  margin:0 auto;
  font-size: 18px;

}
.SPEC_BG th{
font-weight: bolder;

}
